* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  /* font-family: 'Pacifico', cursive; */
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
/* END RESPONSIVE */

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}
.title h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
  margin: 0;
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
/* HEADER */
header {
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(./../img/banner2.jpg);
  min-height: 350px;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0;
  font-family: "Quicksand", sans-serif;
}

header form .form-control {
  position: relative;
  padding: 5px 10px;
  width: 350px;
}

/* thay doi vi tri kinh lup */
header form i:nth-child(2) {
  position: absolute;
  right: 164px;
  top: 25px;
}

/* header form i:last-child {
    position: absolute;
    top: 14px;
    right: -17px;
} */

/* Tương lai tươi sáng */
#myBody {
  background-color: white;
}

#switchButton #sun {
  display: none;
}
#switchButton #moon {
  display: block;
}

/* Tương lai u tối */
.dark#myBody {
  background-color: #232220 !important;
}

.dark #switchButton #sun {
  display: block;
  color: white;
  position: static;
}

.dark #switchButton #moon {
  display: none;
}

.dark #backtohome {
  color: white;
}

.dark .footer__socials a {
  background-color: #232220;
}

.dark .subcribe input {
  border: 1px solid transparent;
  box-shadow: none;
}

.dark .subcribe #Email:focus {
  border: 1px solid #ff6600;
  background-color: #404040;
}

.dark main {
  background-color: #232220 !important;
  color: white !important;
}

.dark i, .dark a {
  color: white !important;
}

.dark main .bg input {
  box-shadow: none;
}

.dark main .bg input:focus {
  box-shadow: none;
}
.dark h2{
  color:#f7f7f7 !important;
}
.dark input {
  background-color: #232323 !important;
  color: white !important;
  border: none !important;
}

.dark input:focus {
  border: 1px solid #ff6600 !important;
  box-shadow: none;
}
.dark main .bg input {
  /* box-shadow: none; */
  background-color: #41464b !important;
}

.dark #secondary .widget{
  background-color: #232121;
}

header nav a {
  text-decoration: none;
  /* color: black; */
  font-weight: 700 !important;
}

header .direction {
  padding: 80px 0 0 0;
  position: relative;
  width: 100%;
}

header ol li a {
  color: orange;
}

header button {
  background-color: transparent;
}
/* END HEADER */

/* MENU POP UP */
.modal {
  background-color: rgba(7, 10, 12, 0.5);
}

.modal .modal-content {
  background-color: rgba(0, 0, 0, 0.007);
}

.modal .modal-content a {
  color: white;
  font-size: 25px;
  transition: all 0.5s;
}

.modal .modal-content a:hover {
  color: #ff6600;
}

/* END MENU POP UP */

/* blog__post */

.post__item {
  margin: 0 0 1.5em;
}
.post__item .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.post__item .card .card-header {
  border: none;
}
.post__item .card .card-header .post-thumbnail {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.post-thumbnail img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 6px;
}
.post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.post-pos span a {
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.blogposts .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.blogposts a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
.blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.w3l-blogposts .p-meta-info a {
  font-weight: 700;
  color: #232121;
  letter-spacing: 0.02em;
}
blogposts a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.blogposts .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.blogposts .p-meta-info a {
  font-weight: 700;
  color: #232121;
  letter-spacing: 0.02em;
}
.blogposts a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #232121;
  opacity: 0.9;
}
.blogposts a.read:hover {
  color: #ff6600;
}
.blogposts .item {
  padding-right: 15px;
  padding-left: 15px;
}
.sidebar-side {
  padding: 0 15px;
}
.blogposts ul li {
  display: inline-block;
  margin: 0 5px;
}
.blogposts ul.page-pagination li span.current {
  display: block;
  padding: 8px 16px;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 6px;
  font-weight: 700;
  background: #ff6600;
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
ul.page-pagination li a.page-numbers,
ul.page-pagination li a.next {
  display: block;
  padding: 8px 16px;
  border: 1px solid #eee;
  border-radius: 6px;
  font-weight: 700;
  color: rgb(22 28 45 / 70%);
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
ul.page-pagination li a.page-numbers:hover,
ul.page-pagination li a.next:hover {
  background-color: #fff;
  color: #ff6600;
  border: 1px solid #ff6600;
}
.right-sidebar {
  position: sticky;
  top: 100px;
}
.widget {
  margin-bottom: 40px;
  padding: 40px 30px;
  background: #fff;
  border-radius: 6px;
}
#search-2 form .me-4 {
  height: 50px;
  width: 230px;
}

#search-2 form button {
  height: 50px;
  width: 120px;
  font-weight: 700;
  background-color: #ff6600;
  color: white;
  opacity: 1;
  transition: all 0.5s;
}

#search-2 form .btn:hover {
  background-color: #ff6600;
  opacity: 0.8;
  color: white;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

h2.widget-title,
h2.widget-title a {
  font-size: 26px;
  line-height: 38px;
  color: #232121;
  margin-bottom: 30px;
  font-weight: 600;
}
.widget.widget_recent_entries ul li {
  margin-bottom: 15px;
  color: rgb(22 28 45 / 70%);
  font-size: 16px;
  line-height: 25px;
  display: block;
  align-items: baseline;
  width: 100%;
  position: relative;
}
.widget.widget_recent_entries ul li a {
  text-transform: capitalize;
  line-height: 25px;
  display: flex;
  align-items: baseline;
  width: 100%;
  transition: 0.3s ease;
  position: relative;
  color: rgb(22 28 45 / 70%);
  font-size: 19px;
  font-weight: 500;
  display: block;
  padding: 3px 0;
}

h2.widget-title,
h2.widget-title a {
  font-size: 26px;
  line-height: 38px;
  color: #232121;
  margin-bottom: 30px;
  font-weight: 600;
}
ul#recentcomments li {
  margin: 20px 0;
}
ul#recentcomments li a {
  font-size: 16px;
  color: #ff6600;
  font-weight: 500;
  line-height: 25px;
  transition: 0.3s ease;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
ul#recentcomments li a:hover {
  text-decoration: underline;
  transition: 0.3s ease;
}
.widget.widget_archive ul li {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  width: 100%;
  position: relative;
  list-style-type: none;
}
.widget.widget_archive ul li a,
.widget.widget_categories ul li a,
.widget.widget_meta ul li a {
  text-transform: capitalize;
  line-height: 25px;
  display: flex;
  align-items: baseline;
  width: 100%;
  transition: 0.3s ease;
  position: relative;
  color: rgb(22 28 45 / 70%);
  font-size: 19px;
  font-weight: 500;
  display: block;
  padding: 10px 15px 10px 20px;
}
.widget.widget_archive ul li a:before,
.widget.widget_categories ul li a:before,
.widget.widget_meta ul li a:before {
  display: inline-block;
  color: #ff6600;
  font-family: "FontAwesome";
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgb(22 28 45 / 70%);
  position: absolute;
  top: 20px;
  left: -7px;
  border: 1px solid #f7f7f7;
  opacity: 0.3;
}
.widget ul li a:hover {
  color: #ff6600;
  transition: 0.3s ease;
}
.widget.widget_categories ul li {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  width: 100%;
  position: relative;
  list-style-type: none;
}
.widget.widget_meta ul li {
  color: var(--font-color);
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: baseline;
  width: 100%;
}

/* FOOTER */
footer {
  background-color: black;
}
footer .footer__logo h5 {
  font-size: 2rem;
}
footer .footer__logo h5 a {
  font-size: 30px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
  padding: 0;
}
footer .footer__logo h5 a:hover {
  color: #ff6600;
  transition: all 0.5s;
}
.footer__main h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer__main p,
.footer__main ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer__socials a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.footer__socials a:hover {
  background: #ff6600;
  transition: 0.3s;
  color: #fff;
}
.footer__main li {
  margin-bottom: 10px;
}
.footer__main ul li a:hover {
  color: #ff6600;
}
.footer__main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgb(22 28 45 / 70%);
  background: #fff;
  border-radius: 6px;
}
.footer__main input[type="email"]:focus {
  border: 1px solid #ff6600;
  background-color: #fff;
}
.footer__main .form__btn {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: all 0.5s;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
}
.footer__main .form__btn:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  padding: 1.2em 0;
  background: #000;
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.copyright .copy__main a {
  color: #ff6600;
}

.copyright p {
  gap: 5px;
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.copyright p a {
  color: #ff6600;
  text-decoration: none;
}

.copyright p a:hover {
  color: white;
  transition: all 0.5s;
}
/* END COPYRIGHT */
/* BACK TO TOP */
.backtotop {
  display: block;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 48px;
  text-align: center;
  border-radius: 35px;
  transition: 0.3s ease-out;
  opacity: 0;
}
.cd-top--is-visible {
  /* // back-to-top button visible */
  visibility: visible;
  opacity: 1;
}
/* .backtotop.active {
    bottom: 32px;
    opacity: 1;
    pointer-events: auto;
} */

/* END BACK TO TOP */
/* @media screen and (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
} */
@media (max-width: 992px) {
  header {
    padding-top: 15px;
  }
  .container-fluid form input {
    width: 210px;
  }
  .blogposts .blog_left {
    max-width: 60%;
  }
  .blogposts a.blog-desc {
    font-size: 16px;
    margin: 0;
  }
  .blogposts .p-footer {
    margin-top: 0 !important;
  }
  .blogposts .p-meta-info {
    gap: 0;
  }
  .blogposts .p-meta-info a {
    font-size: 13px;
    padding: 3px;
  }
  .blogposts a.read {
    font-size: 12px;
  }
  .blogposts .card{
    width: 85%;
    margin: 0 auto;
  }
  .sidebar-side {
    padding: 10px;
    margin: 0 !important;
    max-width: 40%;
  }
  #search-2 form .me-4 {
    height: 50px;
    width: 190px;
    margin-right: 8px !important;
    font-size: 16px;
  }
  #search-2 form button {
    font-size: 16px;
    width: 75px;
  }
  #search-2 {
    padding: 0;
    margin: 0;
  }
  #secondary a {
    font-size: 16px;
    padding: 10px;
  }
  #secondary .widget {
    padding: 20px 0;
    margin: 0;
  }
  #secondary h2 {
    margin: 0;
  }
  .card .card-header{
    height: 400px;
  }
}
@media (max-width: 768px) {
  .blogposts .blog_left {
    max-width: 100%;
  }
  .blogposts .blog {
    display: flex;
    flex-direction: column;
  }
  .sidebar-side {
    max-width: 100%;
  }
  #search-2 form .me-4 {
    width: 250px;
  }
  .posts_footer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .posts_footer .widget {
    padding: 0 !important;
  }
  .posts_footer li {
    margin: 7px !important;
    padding-right: 10px;
  }
}

@media (max-width: 415px) {
  header .container {
    padding-left: 13px;
  }
  header .container-fluid {
    padding: 0;
  }
  header .container-fluid a {
    font-size: 21px !important;
  }

  header .container-fluid form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header .container-fluid form .btn {
    padding: 0;
  }
  .container-fluid form input {
    height: 45px;
    width: 160px;
    font-size: 14px;
  }
  header form i:nth-child(2) {
    position: absolute;
    right: 66px;
    top: 21px;
  }

  #search-2 input {
    width: 195px !important;
  }
  #secondary h2 {
    font-size: 19px;
  }
  #secondary li a {
    padding: 0;
  }
  #secondary li a::before {
    display: none;
  }
  .blogposts .p-meta-info {
    gap: 20px;
  }
  .blogposts .p-footer a {
    font-size: 16px;
    line-height: 0px;
  }
  .blogposts .blog-details a {
    line-height: 22px;
    padding: 6px;
  }
  .blogposts .blog-details .read {
    padding: 0;
  }
  .post-pos span a {
    padding: 5px 14px;
  }
}
