

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: inherit;
}

html {
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
/* END RESPONSIVE */

/* Tương lai tươi sáng */
#mybody {
  background-color: white;
}

#switchButton #sun {
  display: none;
}
#switchButton #moon {
  display: block;
}

/* Tương lai u tối */
.dark#mybody {
  background-color: #232220;
}

.dark #switchButton #sun {
  display: block;
  color: white;
  position: static;
}

.dark #switchButton #moon {
  display: none;
}

.dark .offer,
.dark .ourTeam {
  background-color: #232220;
  color: white;
}
.dark .ourTeam .team__member .team__title {
    color: white;
  }
.dark .offer .content .right p {
  color: white;
}

.dark .more h6 {
  color: white !important;
}

.dark .more h3 {
  color: white;
}

.dark .more .subscribe-cat a {
  color: white;
}

.dark .popular {
  background-color: #282828;
  color: white;
}

.dark .food {
  background-color: #232220;
}

.dark .food .row .col {
  border: 2px solid #404040 !important;
}

.dark .food .row .col .title .logo {
  background-color: #282828 !important;
}

.dark input {
  background-color: #232323 !important;
  color: white !important;
  border: none !important;
}

.dark input:focus {
  border: 1px solid #ff6600 !important;
  box-shadow: none;
}

.dark .food {
  /* background-color: #404040; */
  color: white !important;
}

.dark .number {
  background-color: #232220;
}

.dark .number .col {
  background-color: #666;
  color: white;
}

.dark .movie {
  background-color: #232220;
}

.dark .blog {
  background-color: #282828;
  color: white;
}

.dark .blog .col .comment a {
  color: white;
}

.dark .blog .col .address a {
  color: white;
}

.dark .contact {
  z-index: 1;
}
.dark .number .col {
  z-index: 2;
}


.dark .testical {
  background-color: #232220;
  color: white;
}
.dark .contact-view .cont-details p a, .dark .contact-view .cont-details p {
  color: #ddd !important;
}

/* .dark .footer__main input[type="email"] {
      border: 1px solid #FF6600;
      box-shadow: none;
      background-color: #232220;
  } */
.dark .contact-us input,
.dark textarea {
  background-color: #414141 !important;
}
.dark .footer__socials a {
  background-color: #232220;
}

/* .dark .blog .col .comment .right a {
      color: white;
  } */

/* MENU POP UP */
.modal {
  background-color: rgba(7, 10, 12, 0.5);
}

.modal .modal-content {
  background-color: rgba(0, 0, 0, 0.007);
}

.modal .modal-content a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all 0.5s;
}

.modal .modal-content a:hover {
  color: #ff6600;
}

/* END MENU POP UP */

/* HEADER */

header {
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(./../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
  height: 700px;
  padding: 40px 0;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

header form .form-control {
  position: relative;
  padding: 5px 10px;
  width: 350px;
}

/* thay doi vi tri kinh lup */
header form i:nth-child(2) {
  position: absolute;
  right: 164px;
  top: 25px;
}

header nav a {
  text-decoration: none;
  /* color: black; */
  font-weight: 700 !important;
}

header .direction {
  padding: 80px 0 0 0;
  position: relative;
  width: 100%;
}

header ol li a {
  color: orange;
}

header button {
  background-color: transparent;
}

header .banner .banner-content {
  display: grid;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

header .banner .banner-content .banner-info {
  max-width: 600px;
  text-align: left;
}

header .banner .banner-content .banner-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding-top: 50px;
}

header .banner .banner-content .banner-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

header .banner .banner-content .banner-info .btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 6px;
}

/* Tương lai tươi sáng */
#myBody {
  background-color: white;
}

#switchButton #sun {
  display: none;
}
#switchButton #moon {
  display: block;
}

/* Tương lai u tối */
.dark#myBody {
  background-color: #232220;
}

.dark #switchButton #sun {
  display: block;
  color: white;
  position: static;
}

.dark #switchButton #moon {
  display: none;
}

.dark #backtohome {
  color: white;
}

.dark .footer__socials a {
  background-color: #232220;
}

.dark .subcribe input {
  border: 1px solid transparent;
  box-shadow: none;
}

.dark .subcribe #Email:focus {
  border: 1px solid #ff6600;
  background-color: #404040;
}

.dark main {
  background-color: #232220;
  color: white !important;
}

.dark i {
  color: white;
}
.dark main .bg input {
  box-shadow: none;
}

.dark main .bg input:focus {
  box-shadow: none;
}

.dark input {
  background-color: #232323 !important;
  color: white !important;
  border: none !important;
}

.dark input:focus {
  border: 1px solid #ff6600 !important;
  box-shadow: none;
}

/* OFFER */
.offer {
  padding: 85px 0;
}

.offer .content .left {
  width: 30%;
  /* padding: 0 70px 0 0; */
}

.offer .content .left h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.offer .content .left h6 {
  font-family: "Quicksand", sans-serif;
  font-family: "Pacifico", cursive;
  color: #ff6600;
}

.offer .content .right {
  width: 60%;
  padding: 0 0 0 119px;
}

.offer .content .right p {
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: rgba(22, 28, 45, 0.7);
  text-align: left;
  font-size: 18px;
  text-align: justify;
}

/* MORE THAN  */
.more {
  background-color: #ff6600;
  font-family: "Quicksand", sans-serif;
}

.more .container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.more .agent-block .container-fluid .row {
  display: flex;
  flex-wrap: wrap;
}

.more .agent-block .container-fluid .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.more .container-fluid .agent-block-image {
  background-image: url(./../img/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 612px;
}

.more .container-fluid .agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.more .container-fluid .title-sub .two {
  color: #fff;
}

.more .container-fluid .agent-block-image-inf .title-sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
  font-family: "Pacifico", cursive;
}

.more .container-fluid .agent-block-image-inf .title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.more .container-fluid .agent-block-image-inf .title h3 {
  color: #232121;
}

.more .container-fluid .agent-block-image-inf p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
}

.more .container-fluid .agent-block-image-inf .subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.more
  .container-fluid
  .agent-block-image-inf
  .subscribe-cat
  .subscribe-cat-gd
  .icon {
  background: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: all 0.3s;
}

.more
  .container-fluid
  .agent-block-image-inf
  .subscribe-cat
  .subscribe-cat-gd
  .icon
  span
  i:hover {
  color: yellow;
  transition: all 0.5s;
}

.more
  .container-fluid
  .agent-block-image-inf
  .subscribe-cat
  .subscribe-cat-gd
  .icon
  span
  i {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}

.more
  .container-fluid
  .agent-block-image-inf
  .subscribe-cat
  .subscribe-cat-link {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
}
.more .agent-block p{
  text-align: justify;
}

/* TEAM */
.ourTeam .team {
  position: relative;
}
.ourTeam .team__chefs {
  margin-left: -15px;
  margin-right: -15px;
}
.ourTeam .team .team__item {
  padding: 0 15px;
}

.ourTeam .title h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.ourTeam .title h1 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.ourTeam .team__member,
.ourTeam .team__img {
  position: relative;
  overflow: hidden;
}
.ourTeam .team__img img {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.ourTeam .team__img .team__overlay .team__details {
  opacity: 0;
  position: absolute;
  bottom: 12%;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.ourTeam .team__img:hover .team__details {
  opacity: 1;
}
.ourTeam .team__img .team__overlay .socials a {
  display: inline-block;
  margin-right: 5px;
}

.ourTeam .team__img .team__overlay .socials a i {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  transition: all 0.3s ease 0s;
  background: rgba(157, 157, 157, 0.5);
}
.ourTeam .team__overlay .socials a:hover i {
  background: #fff;
  color: #ff6600;
}
.ourTeam .team__member:hover a {
  color: #ff6600;
  transition: all 0.5s ease-in-out;
}
.ourTeam .team__member .team__title {
  margin: 25px 0 0px;
  font-size: 24px;
  color: #232121;
  font-weight: 900;
  display: block;
  text-decoration: none;
}

.ourTeam .team__member p {
  line-height: 28px;
}

/* POPULAR  */
.popular {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  font-family: "Quicksand", sans-serif;
}

.popular .title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}



.popular .title h3 {
  font-size: 40px;
}

 .popular .row img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;

}

.popular .col-6 {
  position: relative;
  padding: 20px;
}

.popular .text {
  position: absolute;
  bottom: 24px;
  left: 30px;
  z-index: 1;
}

.popular  .text h6 {
  font-size: 28px;
  color: white;
  font-weight: 700;
}

.popular  .text span {
  font-size: 20px;
  color: yellow;
  font-weight: 700;
}
/* END POPULAR  */

/* FOOD */
.food {
  padding: 85px 0;
  position: relative;
  font-family: "Quicksand", sans-serif;
}

.food .container .logo {
  padding: 20px 19px;
  transition: all 0.5s;
}

.food .container .logo i {
  font-size: 35px;
  color: orangered;
  transition: all 0.5s;
}

.food .container .col:hover .logo i {
  color: white;
}

.food .container .col:hover .logo {
  background-color: orangered !important;
}

.food .container .col {
  transition: all 0.5s;
}

.food .container .col:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.food .container .food__name span {
  font-size: 18px;
}

.food__name p {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.food__name p:hover {
  color: #ff6600;
}

.food .container .row {
  gap: 29px;
  padding: 6px 27px 28px 10px;
}
.food .text{
  text-align: left;
}
/* END FOOD */

/* CONTACT */
.contact {
  padding: 80px 0 130px 0;
  min-height: 50%;
  background-image: url(./../img/banner2.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  z-index: -2;
  width: 100%;
}

.contact_container .overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 10, 12, 0.5);
  z-index: -1;
}

.contact h1 {
  font-weight: bold;
}

.contact .boxes button {
  font-size: 15px;
  padding: 12px 29px;
  font-weight: bold;
  transition: all 0.5s;
}

.contact .boxes .left button:hover {
  color: #ff6600;
}

.contact .boxes .right button {
  color: white;
  background-color: #ff6600;
  opacity: 1;
  transition: all 0.5s;
}

.contact .boxes .right button:hover {
  opacity: 0.9;
}

.contact .boxes button:nth-child(2):hover {
  opacity: 0.9;
}
/* END CONTACT */

/* NUMBER */
.number {
  padding: 85px 0;
  font-family: "Quicksand", sans-serif;
  position: relative;
  margin-top: 240px;
}

.number .row {
  gap: 40px;
}

.number .col {
  width: 254px;
  height: 240px;
  padding: 35px 40px;
  transition: all 0.5s;
  background-color: #dee2e6;
}

.number .col:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  top: 20px;
  transform: translateY(-0.9rem);
}

.number .icon i {
  font-size: 35px;
  color: white;
}

.number .so {
  font-weight: 700;
}

.number .text {
  font-weight: 700;
}

.number .icon .icon__bg {
  width: 75px;
  height: 75px;
  background-color: #ff6600;
  border-radius: 50%;
}
/* END NUMBER */

/* MOVIE */
.movie {
  padding: 85px 0 85px 0;
}

.movie .movie__bg {
  background-image: url(./../img/banner3.jpg);
  height: 600px;
  background-position: center;
  background-size: 150%;
  position: relative;
}

.movie .movie__bg .overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 10, 12, 0.5);
}

.movie .movie__bg .button__bg .btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.5s;
  border: none;
  position: relative;
}

/* phong to khi hover */
.movie .movie__bg .button__bg .btn:hover {
  transform: scale(1.2);
}

/* trái tim gợn sóng <3 */
/* trái tim này đập hơn mạnh */
/* trái tim của 1 front end đầy đam mê */
.movie .movie__bg .button__bg .btn::before,
.movie .movie__bg .button__bg .btn::after {
  top: 0;
  left: 0;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation: ripple 1s infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.movie .movie__bg .button__bg .btn::before {
  animation-delay: 0.9s;
}
movie .movie__bg .button__bg .btn::after {
  animation-delay: 0.5s;
}

.movie .movie__bg .button__bg .btn:hover {
  background-color: #ff6600;
}

.movie .movie__bg .button__bg .btn:hover i {
  color: white;
}

.movie .movie__bg .button__bg .btn i {
  font-size: 30px;
  color: #ff6600;
  transition: all 0.5s;
}

/* END MOVIE */

/* BLOG POST */
.blog {
  padding: 85px 0;
  background-color: #f7f7f7;
  font-family: "Quicksand", sans-serif;
}

.blog .title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.blog .title h3 {
  font-size: 40px;
  font-weight: 700;
}

.blog .row {
  gap: 40px;
}

.blog .col__bg {
  position: relative;
}

.blog .col__bg img {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.blog .col__bg .col__name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
}

.blog .col__bg .col__name a {
  color: #ff6600;
  text-decoration: none;
  transition: all 0.5s;
}

.blog .col__bg .col__name a:hover {
  color: blue;
}

.blog .comment a {
  color: black;
  text-decoration: none;
}
.blog .col1 .address {
  padding-top: 26px;
}

.blog .address .left img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog .address .left a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.blog .address .right a {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
  font-weight: 700;
}

.blog .address .right a:hover {
  color: #ff6600;
}
/* END BLOG POST */

/* TESTIMONIALS */
.testical {
  padding: 85px 0;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

.testical .title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.testical .title h3 {
  font-size: 40px;
  font-weight: 700;
}

.testical .people__bg {
  width: max-content;
  /* position: absolute; */
}

.testical .review .people .people__bg .hinh img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.testical .comment i {
  font-size: 30px;
  color: #ff6600;
}

.testical .comment h4 {
  font-style: italic;
  font-weight: 700;
}
.testical .comment p {
  text-align: justify;
  max-width: 600px;
}

/* END TESTIMONIALS */

/* CONTACT US  */
section {
  font-family: "Quicksand", sans-serif;
}

.contact_us .container .header-title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.contact_us .container .header-title .title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.contact_us .container .header-title p {
  font-size: 18px;
  line-height: 28px;
}

.contact_us .twice-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.contact_us .map-content form input {
  background: #f7f7f7;
  border: 1px solid rgb(130, 128, 128);
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
  padding: 12px 20px;
  line-height: 28px;
  width: 100%;
  border-radius: 6px;
  height: 58px;
}

.contact_us .map-content form textarea {
  resize: none;
  min-height: 200px;

  background: #f7f7f7;
  border: 1px solid rgb(130, 128, 128);
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
  padding: 12px 20px;
  line-height: 28px;
  width: 100%;
  border-radius: 6px;
  height: 58px;
}

.contact_us .text-right {
  text-align: right !important;
}

.contact_us .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.contact_us .btn-primary {
  color: #fff;
  background-color: #ff6600;
  transition: all 0.5s;
}

.contact_us .btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

.contact_us .btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid transparent;
}

/* FIND US  */

.contact-view {
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 20px;
}

.contact-view .title-sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.contact-view .title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.contact-view .cont-top {
  display: grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 20px;
}

.contact-view .cont-left span i {
  font-size: 20px;
  margin-top: 5px;
  color: #ff6600;
}

.contact-view .cont-details h5 {
  font-size: 20px;
  font-weight: 600;
}

.contact-view .cont-details p {
  font-size: 18px;
  line-height: 28px;
}

.contact-view .cont-details p a {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7) !important;
  text-decoration: none;
}

.contact-view .map-content map-iframe iframe {
  filter: grayscale(0%);
  border-radius: 6px;
  background: #f7f7f7;
  padding: 10px;
}

/* END FIND US  */

/* FOOTER */
footer {
  background-color: black;
}
footer .footer__logo h5 {
  font-size: 2rem;
}
footer .footer__logo h5 a {
  font-size: 30px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
  padding: 0;
}
footer .footer__logo h5 a:hover {
  color: #ff6600;
  transition: all 0.5s;
}
.footer__main h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer__main p,
.footer__main ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  text-align: justify;
}

.footer__main ul .item-2 {
  text-decoration: none;
}

.footer__socials a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
  position: relative;
}

.footer__socials a i {
  position: absolute;
  left: 10px;
  top: 10px;
}

.footer__socials a:hover {
  background: #ff6600;
  transition: 0.3s;
  color: #fff;
}
.footer__main li {
  margin-bottom: 10px;
}

.footer__main li a {
  transition: all 0.5s;
}
.footer__main p{
  text-align: justify;
}
.footer__main li:hover a {
  color: #ff6600;
}

.footer__main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgb(22 28 45 / 70%);
  background: #fff;
  border-radius: 6px;
}
.footer__main input[type="email"]:focus {
  border: 1px solid #ff6600;
  background-color: #fff;
}
.footer__main .form__btn {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: all 0.5s;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
}
.footer__main .form__btn:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  padding: 1.2em 0;
  background: #000;
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.copyright .copy__main a {
  color: #ff6600;
}

.copyright p {
  gap: 5px;
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.copyright p a {
  color: #ff6600;
  text-decoration: none;
}

.copyright p a:hover {
  color: white;
  transition: all 0.5s;
}
/* END COPYRIGHT */
/* BACK TO TOP */
.backtotop {
  display: block;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 48px;
  text-align: center;
  border-radius: 35px;
  transition: 0.3s ease-out;
  opacity: 0;
}
.cd-top--is-visible {
  /* // back-to-top button visible */
  visibility: visible;
  opacity: 1;
}
/* .backtotop.active {
      bottom: 32px;
      opacity: 1;
      pointer-events: auto;
  } */

/* END BACK TO TOP */
/* @media screen and (min-width: 992px){
  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  } */
/* @media screen and (max-width: 1440px) {
      .number .row{
          left: 110px;
      }
  }
  @media screen and (max-width: 1280px) {
      .number .row{
          left: 40px;
      }
  } */
@media screen and (max-width: 1200px) {
  .blog .col1 .address {
    padding-top: 57px;
  }
}
@media screen and (max-width: 1024px) {
  .number {
    margin-top: 530px;
  }
}
@media screen and (max-width: 992px) {
  header {
    padding-top: 15px;
  }
  .blog .row {
    gap: 0;
  }
  .blog h4 {
    font-size: 18px;
  }
  .container-fluid form input {
    width: 210px;
  }
  .popular .col .text {
    position: absolute;
    bottom: 8px;
    left: 31px;
  }
  .offer {
    padding: 50px 0;
  }
  .offer .container {
    width: 90%;
  }
  .offer .content {
    display: flex;
    flex-direction: column;
  }
  .offer .content .left,
  .offer .content .right {
    width: 100%;
    padding: 0;
  }
  .offer .content .right p {
    text-align: justify;
  }
  .number {
    margin-top: 400px;
  }
  .blog .address {
    flex-direction: column;
    align-items: flex-start !important;
    line-height: 20px;
  }
  .blog .col1 .address {
    padding-top: 41px;
  }
  .movie {
    padding: 0;
  }
  .movie .movie__bg {
    background-size: 160%;
    height: 500px;
  }
  .contact-view {
    grid-template-columns: 50% 46%;
    grid-gap: 20px;
  }
  .testical {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .popular .col .text h6 {
    font-size: 18px;
    line-height: 6px;
  }
  .popular .col .text span {
    font-size: 16px;
  }
  .blog .row {
    gap: 40px;
    flex-direction: column;
  }
  .blog h4 {
    font-size: 25px;
  }
  .blog .col__bg img {
    height: 410px;
  }
  .movie .movie__bg {
    background-size: 160%;
    height: 500px;
  }
  .movie .movie__bg {
    background-size: 245%;
    height: 440px;
  }
  .popular .row {
    gap: 0px;
}
.blog .address {
  flex-direction: row;
  line-height: 37px;
  padding-top: 0 !important;
}
.blog .comment {
  padding-bottom: 2px;
}
.testical .comment p {
  max-width: 375px;
}
.contact_us .twice-two{
  grid:none;
}
}

@media screen and (max-width: 415px) {
  header {
    padding-top: 15px;
    min-height: 530px;
    height: auto;
  }
  header .container {
    padding-left: 13px;
  }
  header .container-fluid {
    padding: 0;
  }
  header .container-fluid a {
    font-size: 21px !important;
  }

  header .container-fluid form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header .container-fluid form .btn {
    padding: 0;
  }
  .container-fluid form input {
    height: 45px;
    width: 160px;
    font-size: 14px;
  }
  header form i:nth-child(2) {
    position: absolute;
    right: 66px;
    top: 21px;
  }

  header .banner .banner-content .banner-info h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding-top: 40px;
  }
  .offer {
    padding: 50px 0;
  }
  .offer .container {
    width: 90%;
  }
  .offer .content {
    display: flex;
    flex-direction: column;
  }
  .offer .content .left,
  .offer .content .right {
    width: 100%;
    padding: 0;
  }
  .offer .content .right p {
    text-align: justify;
  }
  .offer .subscribe-cat p{
    text-align: left;
  }
  .more .container-fluid .agent-block-image {
    min-height: 370px;
  }
  .popular {
    padding-top: 50px;
  }
  .popular .row {
    gap: 0;
  }
  
  .popular .col .text {
    position: absolute;
    bottom: 8px;
    left: 22px;
    line-height: 5px;
  }

  .popular .col .text h6 {
    font-size: 13px;
  }
  .popular .col .text span {
    font-size: 12px;
  }
  .number {
    margin-top: 420px;
}

  .movie {
    padding: 0;
  }
  .movie .movie__bg {
    height: 370px;
  }
  .blog .row {
    gap: 40px;
    flex-direction: column;
  }
  .blog .address {
    flex-direction: row;
    line-height: 37px;
  }
  .blog .comment {
    padding-bottom: 2px;
  }
  .testical .comment p {
    max-width: 375px;
  }
  .contact-view {
    grid-template-columns: 100%;
    grid-gap: 20px;
  }
  .more .container-fluid .agent-block-image-inf p {
    text-align: left;
  }
}
